*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
section {
    width: 100%;
    background-image: url(image/bg.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

section nav .log img {
    width: 100px; 
    cursor: pointer;
    margin: 8px 0;
}

section nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px #089da1;
    background-color: #fff;
    position: fixed;
    left: 0;
    z-index: 100;
}

ul{
    list-style-type: none;
}

section nav li {
    display: inline-block;
    padding: 0 10px;
}

section nav li a  {
    text-decoration: none;
    color: #000;
}
section nav li a:hover{
    color: #089da1;
}

section nav .Social_icon i{
    margin: 0 5px;
    font-size: 18px;
}
section nav .Social_icon i:hover {
    color: #089da1;
    cursor: pointer;
}
section .main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 10%;
}
section .main h1{
    position: relative;
    top:80px;
    left: 25px;
    font-size: 55px;
}
section .main h1 span{
    color: #089da1;
}
section .main .main-tag .main_bt {
    position: relative;
    top: 125px;
    left: 25px;
    background-color: #089da1;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}
section .main .main_img {
    position: relative;
    top: 90px;
    left: 0;
    width: 780px;
}
.services{
    width: 100%;
    height: auto;
    margin: 35px 0;
}
.services .serices_box
{
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px auto;
}
.services .serices_box .serices_card{
    width: 250px;
    height: auto;
    box-shadow: 0 0 8px #089da1;
    text-align: center;
    padding: 30px 10px;
}
.services .serices_box .serices_card i{
    color: #089da1;
    font-size: 45px;
    cursor: pointer;
    margin-bottom: 15px;
}
.services .services_box .services_card h3{
margin-bottom: 10px;
}

.about img{
width: 800px;
}

.about{
width: 100%;
height: auto;
padding: 20px;
display: flex;
align-items: center;
justify-content: space-around;
}

.about .about-tag{
font-size: 35px;
position: absolute;
bottom: -55%;
right: 25%;
transform: translate(50%, 50%);
}

.about .adress{
position: relative;
top: 0;
right: 150px;
}
.about .adress .account{
margin-bottom: 10px;  
}
.about .adress .account i{
color: #089da1;
font-size: 35px;
margin-right: 5px;
margin-bottom: -5px;
}
.about .adress .account a{
text-decoration: none;
color: #000;
font-size: 15px;
}
.about .adress .account a:hover{
color: #089da1;
}


.featured_boks{
width: 100%;
height: 100vh;
padding: 70px 0;
}

.featured_boks h1{
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 30px;
font-size: 45px;
}

.featured_boks .featured_book_box{
width: 95%;
height: 60vh;
margin: 0 auto;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
overflow: hidden;
overflow-x: scroll;
}

.featured_boks .featured_book_box .featured_book_card{
width: 250px;
height: 420px;
text-align: center;
padding: 5px;
border: 1px solid #919191;
margin: auto 20px;
}

.featured_boks .featured_book_box .featured_book_card:hover{
box-shadow: 0 0 5px #089da1;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_img img{
width: 150px;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag h2{
margin: 12px;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag .writer{
color: #919191;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag .categories{
color: #089da1;
margin-top: 8px;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag .book_price{
margin-top: 8px;
font-weight: bold;
margin-bottom: 15px;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag .book_price sub{
font-weight: 100;
padding: 0 5px;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag .f_btn{
padding: 8px 20px;
border: 2px solid #089da1;
text-decoration: none;
color: #000;
}

::-webkit-scrollbar{
width: 10px;
height: 5px;
}

::-webkit-scrollbar-track{
box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb{
background: #089da1;
border-radius: 10px;
}

